*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: url(./img/360_F_883152034_SPz8sW7Aj9W2TqUCfg1HuKBlm81OddMv.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}