*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: url(/src/img/Castle.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}
.btn-play{
    display: block;
    padding: 9px 16px;
    cursor: pointer;
    background-color: green;
    color: white;
}