*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
body{
    background-image:url(/src/img/Beging-Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10%;
}
.btn-play{
    display: block;
    padding: 9px 16px;
    cursor: pointer;
    background-color: green;
    color: white;
}